@font-face {
  font-family: 'Sohne';
  font-weight: 300;
  font-style: normal;
  src: url('soehne-web-leicht.woff2') format('woff2'), url('soehne-web-leicht.woff') format('woff');
}

@font-face {
  font-family: 'Sohne';
  font-weight: 300;
  font-style: italic;
  src: url('soehne-web-leicht-kursiv.woff2') format('woff2');
}

@font-face {
  font-family: 'Sohne';
  font-weight: 400;
  font-style: normal;
  src: url('soehne-web-buch.woff2') format('woff2'), url('soehne-web-buch.woff') format('woff');
}

@font-face {
  font-family: 'Sohne';
  font-weight: 400;
  font-style: italic;
  src: url('soehne-web-buch-kursiv.woff2') format('woff2');
}

@font-face {
  font-family: 'Sohne';
  font-weight: 500;
  font-style: normal;
  src: url('soehne-web-kraftig.woff2') format('woff2'), url('soehne-web-kraftig.woff') format('woff');
}

@font-face {
  font-family: 'Sohne';
  font-weight: 500;
  font-style: italic;
  src: url('soehne-web-kraftig-kursiv.woff2') format('woff2');
}

@font-face {
  font-family: 'Sohne';
  font-weight: 600;
  font-style: normal;
  src: url('soehne-web-halbfett.woff2') format('woff2');
}

@font-face {
  font-family: 'Sohne';
  font-weight: 600;
  font-style: italic;
  src: url('soehne-web-halbfett-kursiv.woff2') format('woff2');
}

@font-face {
  font-family: 'Sohne';
  font-weight: 700;
  font-style: normal;
  src: url('soehne-web-dreiviertelfett.woff2') format('woff2');
}

@font-face {
  font-family: 'Sohne';
  font-weight: 700;
  font-style: italic;
  src: url('soehne-web-dreiviertelfett-kursiv.woff2') format('woff2');
}
